* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;

  background-image:
    url("/background-header.png"), url("/background-mobile.png");
  background-position:
    top center,
    top center;
  background-repeat: no-repeat, repeat-y;
  background-size: auto, cover;
}

@media (min-width: 768px) {
  body {
    background-image:
      url("/background-header.png"), url("/background-table.png");
  }
}

@media (min-width: 1200px) {
  body {
    background-image:
      url("/background-header.png"), url("/background-desktop.png");
    background-size: contain, cover;
  }
}

.container {
  width: min(100% - 40px, 704px);
  margin-inline: auto;
  /* outline: 1px solid red; */
}

@media (min-width: 768px) {
  .container {
    width: min(100% - 64px, 946px);
  }
}
